$screen-md-min: 767px;
$screen-lg-min: 992px;
$screen-xl-min: 1440px;

@mixin tablet {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin landscape {
  @media (min-width: #{$screen-md-min}) and (orientation:landscape) {
    @content;
  }
}

$white: #ffffff;
$midblue: #829cff;
