@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html,
body {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: var(--paragraph-font);

  p {
    color: var(--grey);
  }
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 46px;
  border: 1px solid red;
  .header__Image1 {
    position: absolute;
    top: -100px;
    z-index: 1;
  }
}

h1 {
  font-size: 40px;
  font-weight: var(--header-font);
  line-height: 48px;
  color: var(--slategrey);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--header-font);
}
