@import "mixins";
@include tablet;
@include desktop;

.home {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;

  @include tablet {
    margin-top: -110px;

    @include desktop {
      margin-top: -300px;
      margin-left: 165px;
    }
  }

  .header__backhero {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -1;
    width: 458px;
    margin: -940px 20px 0;

    @include tablet {
      margin: -164px -293px 196px 395px;
      width: 666px;

      @include desktop {
        margin: -450px -390px 0 600px;
        width: 1134px;
        object-fit: cover;
      }
    }
  }

  .intro__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 24px 104px;
    line-height: 26px;

    @include tablet {
      flex-direction: row-reverse;
      width: 100%;
      margin-bottom: 0;
    }

    .intro__illustration {
      margin: 80px 80px 64px;
      width: 171px;
      @include tablet {
        position: absolute;
        margin: inherit;
        margin: 225px 40px 159px 447px;
        width: 281px;
        align-items: right;
        z-index: 1;

        @include desktop {
          width: 475px;
          margin: 213px 165px 0 800px;
        }
      }
    }
    .mod {
      margin-top: -80px;
    }

    .intro__home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include tablet {
        text-align: left;
        align-items: left;
        margin: 208px 39px 140px 39px;

        @include desktop {
          margin: 174px 735px 255px 165px;
        }
      }

      h1 {
        margin-bottom: 24px;
        @include tablet {
          margin-right: 340px;
          font-size: 40px;
          @include desktop {
            margin-right: 127px;
            font-size: 56px;
            line-height: 64px;
          }
        }
      }

      p {
        line-height: 26px;
        @include tablet {
          margin-right: 310px;
          font-size: 16px;

          @include desktop {
            margin-right: 80px;
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
      .button__wrapper {
        @include tablet {
          display: flex;
          align-items: left;
          margin-left: -30px;
          margin-right: 480px;
          text-align: left;

          @include desktop {
            margin-left: 0;
          }
        }
        .home__button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-top: 24px;
          margin-bottom: 100px;
          width: 171px;
          height: 56px;
          background-color: var(--midblue);
          color: var(--white);
          border-radius: 60px;
          cursor: pointer;
          font-weight: var(--header-font);
          @include tablet {
            margin-bottom: 0;
          }

          &:hover {
            background-color: var(--softblue);
          }
        }
      }
    }
  }

  .p__mod {
    color: var(--slategrey);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include desktop {
    flex-direction: row;
  }
}
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;

  @include tablet {
    margin-top: 100px;
  }
  @include desktop {
    flex-direction: row;
    text-align: left;
  }
  .countdown__container {
    p {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: var(--header-font);
      letter-spacing: 5px;
      text-transform: uppercase;
      line-height: 48px;
      span {
        color: var(--midblue);
        padding-left: 5px;
      }
    }
    .countdown__container__paragraph {
      color: var(--white);
      @include tablet {
        text-align: center;
      }
      @include desktop {
        text-indent: 20px;
      }
    }

    @include desktop {
      margin: 82px 0 91px 165px;
    }

    .countdown__map {
      display: flex;
      align-items: center;
      justify-content: center;

      .countdown__color {
        background-color: var(--softblue);
      }
    }
  }
  .countdown__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 56px;
    background-color: var(--midblue);
    color: white;
    font-weight: var(--header-font);
    margin: 40px 0 100px;
    border-radius: 40px;

    &:hover {
      background-color: var(--softblue);
    }

    @include desktop {
      margin: 142px 165px 151px 491px;
    }
  }
}

.footer {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1248px;
    background-color: var(--darkgrey);
    background-image: url("/assets/home/bg-pattern-footer.svg");
    // background-size: cover;
    background-position: center 132px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @include tablet {
    &:after {
      content: "";
      height: 946px;
      background-position-y: -20rem;
    }

    @include desktop {
      &:after {
        content: "";
        height: 603px;
        background-position: center -37rem;
        background-position-x: -43rem;
      }
    }
  }
}
