.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header__Image2 {
    z-index: 1;
    margin-top: -160px;
    overflow: hidden;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 24px 0;
    line-height: 26px;

    .intro__image {
      margin-top: -80px;
      margin: -80px 80px 64px;
    }
    .mod {
      margin-top: -80px;
    }

    h1 {
      text-align: center;
      margin-bottom: 24px;
    }

    p {
      text-align: center;
      line-height: 26px;
    }
  }
}

.p__mod {
  color: var(--slategrey);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 56px;
  background-color: var(--midblue);
  color: var(--white);
  margin-top: 24px;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 100px;
  font-weight: var(--header-font);

  &:hover {
    background-color: var(--softblue);
  }
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: var(--header-font);
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 48px;
    span {
      color: var(--midblue);
      padding-left: 5px;
    }
  }
  .countdown__map {
    display: flex;
    align-items: center;
    justify-content: center;

    .countdown__color {
      background-color: var(--softblue);
    }
  }
  .countdown__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 56px;
    background-color: var(--midblue);
    color: white;
    font-weight: var(--header-font);
    margin: 40px 0 100px;
    border-radius: 40px;

    &:hover {
      background-color: var(--softblue);
    }
  }
}

.footer {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1248px;
    background-color: var(--darkgrey);
    background-image: url("/assets/home/bg-pattern-footer.svg");
    background-size: cover;
    background-position: center 132px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.footer__signup {
  &:after {
    content: "";
    overflow: hidden;
    position: absolute;
    bottom: -20rem;
    left: 0;
    right: 0;
    height: 320px;
    background-color: var(--darkgrey);
    background-image: url("/assets/home/bg-pattern-footer.svg");
    background-size: 75rem;
    background-position: center -25.25rem;
    background-repeat: no-repeat;
    z-index: -2;
  }
}
