@import "mixins";
@include tablet;
@include desktop;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    overflow: hidden;
    position: relative;
    margin-top: -110px;
  }

  .header__Image2 {
    z-index: 1;
    margin-top: -160px;

    @include tablet {
      position: absolute;
      display: flex;
      margin: 0 -293px 196px 395px;
    }
  }

  .intro__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 24px 104px;
    line-height: 26px;

    @include tablet {
      flex-direction: row-reverse;
      width: 100%;
      margin-bottom: 0;
    }

    .intro__image {
      margin: -80px 80px 64px;
      @include tablet {
        position: absolute;
        margin: inherit;
        margin: 225px 40px 159px 447px;
        width: 281px;
        align-items: right;
        z-index: 1;
      }
    }
    .mod {
      margin-top: -80px;
    }

    .intro__home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include tablet {
        text-align: left;
        align-items: left;
        margin: 208px 39px 140px 39px;
      }

      h1 {
        margin-bottom: 24px;
        @include tablet {
          margin-right: 325px;
        }
      }

      p {
        line-height: 26px;
        @include tablet {
          margin-right: 310px;
        }
      }
      .button__wrapper {
        @include tablet {
          display: flex;
          align-items: left;
          margin-left: 0;
          margin-right: 480px;
        }
        .home__button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 171px;
          height: 56px;
          background-color: var(--midblue);
          color: var(--white);
          margin-top: 24px;
          border-radius: 60px;
          cursor: pointer;
          margin-bottom: 100px;
          font-weight: var(--header-font);
          @include tablet {
            margin-bottom: 0;
          }

          &:hover {
            background-color: var(--softblue);
          }
        }
      }
    }
  }

  .p__mod {
    color: var(--slategrey);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: var(--header-font);
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 48px;
    span {
      color: var(--midblue);
      padding-left: 5px;
    }
  }
  .countdown__map {
    display: flex;
    align-items: center;
    justify-content: center;

    .countdown__color {
      background-color: var(--softblue);
    }
  }
  .countdown__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 56px;
    background-color: var(--midblue);
    color: white;
    font-weight: var(--header-font);
    margin: 40px 0 100px;
    border-radius: 40px;

    &:hover {
      background-color: var(--softblue);
    }
  }
}

.footer {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1248px;
    background-color: var(--darkgrey);
    background-image: url("/assets/home/bg-pattern-footer.svg");
    background-size: cover;
    background-position: center 132px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @include tablet {
    &:after {
      height: 946px;
    }
  }
}

.footer__signup {
  &:after {
    content: "";
    overflow: hidden;
    position: absolute;
    bottom: -20rem;
    left: 0;
    right: 0;
    height: 320px;
    background-color: var(--darkgrey);
    background-image: url("/assets/home/bg-pattern-footer.svg");
    background-size: 75rem;
    background-position: center -25.25rem;
    background-repeat: no-repeat;
    z-index: -2;
  }
}
